<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
<div class="top-wrapper">
    <div class="top-wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Delta</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
</div>




<form method="POST" action="/register" class="container">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
    </div>
      <div class="form-group col-md-6">
      <label for="inputEmail4">phone</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="phone" name="phone">
    </div>

      <div class="form-group col-md-6">
      <label for="inputEmail4">aadhar number</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="aadhar" name="aadhar">
    </div>



    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password">
    </div>
  </div>
  <div class="form-group">
    <label for="user name">User name</label>
    <input type="text" class="form-control" id="inputUserName" placeholder="User_name" name="user_name">
  </div>
  <div class="form-group">
    <label for="inputAddress2">first name</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="first name" name="first_name">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="last_name">last name</label>
      <input type="text" class="form-control" id="inputCity" name="last_name" placeholder="last name">
    </div>
    <div class="form-group col-md-4">
      <label for="interest">interest</label>
      <input type="text" class="form-control" id="interest" name="interest" placeholder="interest">

    </div>


      <div class="form-group col-md-4">
      <label for="inputState">state</label>
      <input type="text" class="form-control" id="state" name="state" placeholder="state">
    </div>




</div>

  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
</body>

</html>











